@tailwind base;import './index.css'







































}  background: #555;::-webkit-scrollbar-thumb:hover {}  border-radius: 4px;  background: #888;::-webkit-scrollbar-thumb {}  background: #f1f1f1;::-webkit-scrollbar-track {}  height: 8px;  width: 8px;::-webkit-scrollbar {/* Custom scrollbar */}  scroll-behavior: smooth;html {}    monospace;  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',code {}  -moz-osx-font-smoothing: grayscale;  -webkit-font-smoothing: antialiased;    sans-serif;    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',body {@tailwind utilities;@tailwind components;